---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-nfs
spec:
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.6
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  interval: 30m
  dependsOn:
    - name: snapshot-controller
  values:
    controller:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-nfs-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        # imagePullPolicy: Always
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        # imagePullPolicy: Always
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.6
    csiDriver:
      name: "org.democratic-csi.nfs"
    storageClasses:
      - name: zol-nfs
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
        mountOptions:
          ["nfsvers=4.2", "nconnect=8", "hard", "noatime", "nodiratime"]
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    volumeSnapshotClasses:
      - name: zol-nfs-snapclass
        driver: org.democratic-csi.nfs
        deletionPolicy: Delete
        parameters:
          detachedSnapshots: true
    driver:
      config:
        driver: zfs-generic-nfs
      existingConfigSecret: *secret
