---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: ${clusterName}
endpoint: "https://${clusterName}.${clusterDNSSuffix}:6443"

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker extractVersion=^(?<version>.*)$
talosVersion: v1.6.5
# renovate: depName=kubernetes/kubernetes datasource=github-releases extractVersion=^v(?<version>.*)$
kubernetesVersion: 1.29.1

cniConfig:
  name: none

additionalApiServerCertSans: &san
  - ${clusterEndpointIP}
  - ${clusterName}.${clusterDNSSuffix}
  - "127.0.0.1"
additionalMachineCertSans: *san

nodes:
  # Thinkcentre M910q Core i7 7700t, 32GB RAM, 256GB SSD, 1x1Gbps NIC
  - hostname: k8s-m0.${clusterDNSSuffix}
    ipAddress: 172.16.11.10
    installDisk: /dev/sda
    controlPlane: true
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - 172.16.11.10/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
    # nodeLabels: &masterLabels
    #   topology.kubernetes.io/region: ${clusterName}
    #   topology.kubernetes.io/zone: prod-master

  - hostname: k8s-m1.${clusterDNSSuffix}
    ipAddress: 172.16.11.11
    installDisk: /dev/sda
    controlPlane: true
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - 172.16.11.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
    # nodeLabels: *masterLabels

  - hostname: k8s-m2.${clusterDNSSuffix}
    ipAddress: 172.16.11.12
    installDisk: /dev/sda
    controlPlane: true
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - 172.16.11.12/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
    # nodeLabels: *masterLabels

  ### Worker Node
  ### Mixed Thinkcentre M720q & M910x
  ### Core i7 8700t, 64GB RAM, 240GB SSD/512GB NVME (OS), 1x1TB NVME (CEPH), 2x10Gbps Mellanox ConnectX-3 Pro EN, 1x1Gbps NIC
  # M720Q
  - hostname: k8s-w0.${clusterDNSSuffix}
    ipAddress: 172.16.11.13
    installDisk: /dev/sda
    controlPlane: false
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        ignore: true
      - interface: eth1
        dhcp: false
        addresses:
          - 172.16.11.13/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
        vlans:
          - vlanId: 1613
            dhcp: false
            addresses:
              - 172.16.13.13/24
            mtu: 1500
          - vlanId: 1614
            dhcp: false
            addresses:
              - 172.16.14.13/24
            mtu: 1500

  # M720Q
  - hostname: k8s-w1.${clusterDNSSuffix}
    ipAddress: 172.16.11.14
    installDisk: /dev/sda
    controlPlane: false
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        ignore: true
      - interface: eth1
        dhcp: false
        addresses:
          - 172.16.11.14/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
        vlans:
          - vlanId: 1613
            dhcp: false
            addresses:
              - 172.16.13.14/24
            mtu: 1500
          - vlanId: 1614
            dhcp: false
            addresses:
              - 172.16.14.14/24
            mtu: 1500

  # M920X02
  - hostname: k8s-w2.${clusterDNSSuffix}
    ipAddress: 172.16.11.15
    installDisk: /dev/sda
    controlPlane: false
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        ignore: true
      - interface: eth1
        dhcp: false
        addresses:
          - 172.16.11.15/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
        vlans:
          - vlanId: 1613
            dhcp: false
            addresses:
              - 172.16.13.15/24
            mtu: 1500
          - vlanId: 1614
            dhcp: false
            addresses:
              - 172.16.14.15/24
            mtu: 1500

  # M920X03
  - hostname: k8s-w3.${clusterDNSSuffix}
    ipAddress: 172.16.11.16
    installDisk: /dev/nvme1n1
    controlPlane: false
    nameservers:
      - 172.16.16.5
    networkInterfaces:
      - interface: eth0
        ignore: true
      - interface: eth1
        dhcp: false
        addresses:
          - 172.16.11.16/24
        routes:
          - network: 0.0.0.0/0
            gateway: 172.16.11.254
        mtu: 1500
        vlans:
          - vlanId: 1613
            dhcp: false
            addresses:
              - 172.16.13.16/24
            mtu: 1500
          - vlanId: 1614
            dhcp: false
            addresses:
              - 172.16.14.16/24
            mtu: 1500


controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
        - talos.logging.kernel=udp://vector.${clusterDNSSuffix}:${talosKernelLogPort}/
      systemExtensions:
        officialExtensions:
          - siderolabs/nut-client
          - siderolabs/intel-ucode
          - siderolabs/i915-ucode

  patches:
    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:etcd:backup
            allowedKubernetesNamespaces:
              - kube-system

    # Disable search domain everywhere
    - &disableSearchDomainPatch |-
      machine:
        network:
          disableSearchDomain: true

    # Force nameserver
    - &nameServerPatch |-
      machine:
        network:
          nameservers:
            - 172.16.16.9

    # Configure NTP
    - &ntpServerPatch |-
      machine:
        time:
          disabled: false
          servers:
            - time.google.com
            - time.cloudflare.com

    # Enable KubePrism
    - &kubePrismPatch |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Configure cluster loopback
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: ${clusterEndpointIP}
              aliases:
                - ${clusterName}.${clusterDNSSuffix}

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: false
        proxy:
          disabled: true

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Kubelet configuration
    - &kubeletPatch |-
      machine:
        kubelet:
          extraArgs:
            feature-gates: GracefulNodeShutdown=true,NewVolumeManagerReconstruction=false
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 172.16.11.0/24

    # Cluster ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 172.16.11.0/24

    # Configure master node nut client
    - |-
      machine:
        files:
          - op: create
            path: /var/etc/nut/upsmon.conf
            permissions: 0o600
            content: |
              MONITOR ${upsmonMasterHost} 1 ${upsmonMasterUser} ${upsmonMasterPass} slave
              SHUTDOWNCMD "/sbin/poweroff"

    # Enable logging
    - &loggingPatch |-
      machine:
        logging:
          destinations:
            - endpoint: udp://vector.${clusterDNSSuffix}:${talosServiceLogPort}
              format: json_lines

    # Cluster discovery
    - &clusterDiscoveryPatch |-
      cluster:
        discovery:
          registries:
            kubernetes:
              disabled: false
            service:
              disabled: false

    # Configure containerd
    - &containerdPatch |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

    # Custom sysctl settings
    - &sysctlPatch |-
      machine:
        sysctls:
          fs.inotify.max_user_watches: 1048576
          fs.inotify.max_user_instances: 8192
          kernel.randomize_va_space: 0
          net.core.netdev_max_backlog: 30000
          net.core.rmem_max: 67108864
          net.core.wmem_max: 67108864
          net.ipv4.tcp_rmem: 4096 87380 33554432
          net.ipv4.tcp_wmem: 4096 65536 33554432
          net.ipv4.tcp_tw_reuse: 1
          net.ipv4.tcp_window_scaling: 1


worker:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
        - talos.logging.kernel=udp://vector.${clusterDNSSuffix}:${talosKernelLogPort}/
      systemExtensions:
        officialExtensions:
          - siderolabs/nut-client
          - siderolabs/intel-ucode
          - siderolabs/i915-ucode
          - siderolabs/iscsi-tools

  patches:
    # Configure nut client
    - |-
      machine:
        files:
          - op: create
            path: /var/etc/nut/upsmon.conf
            permissions: 0o600
            content: |
              MONITOR ${upsmonWorkerHost} 1 ${upsmonWorkerUser} ${upsmonWorkerPass} slave
              SHUTDOWNCMD "/sbin/poweroff"
    - *containerdPatch
    - *disableSearchDomainPatch
    - *nameServerPatch
    - *ntpServerPatch
    - *kubePrismPatch
    - *loggingPatch
    - *sysctlPatch
    - *clusterDiscoveryPatch
    - *kubeletPatch
