---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-iscsi
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.6
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controller:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-iscsi-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        logLevel: debug
        imagePullPolicy: IfNotPresent
      priorityClassName: system-cluster-critical
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      hostPID: true

      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        logLevel: debug
        imagePullPolicy: IfNotPresent
        extraEnv:
          - name: ISCSIADM_HOST_STRATEGY
            value: nsenter
          - name: ISCSIADM_HOST_PATH
            value: /usr/local/sbin/iscsiadm
        iscsiDirHostPath: /usr/local/etc/iscsi
        iscsiDirHostPathType: ""
      priorityClassName: system-node-critical
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.6
    csiDriver:
      name: org.democratic-csi.iscsi
    storageClasses:
      - name: zol-iscsi
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
        mountOptions: []
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    volumeSnapshotClasses:
      - name: zol-iscsi-snapclass
        parameters:
          detachedSnapshots: "true"
          secrets:
            snapshotter-secret:
    driver:
      config:
        driver: zfs-generic-iscsi
      existingConfigSecret: *secret
