---
# yaml-language-server: $schema=https://raw.githubusercontent.com/trosvald/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      version: 2024.2.0
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  interval: 30m
  values:
    # START
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: authentik-secret
      # podLabels:
      #   db.home.arpa/pg: postgres
      #   egress.home.arpa/apiserver: allow
      #   egress.home.arpa/internet: allow
      #   egress.home.arpa/kubedns: allow # FIXME: Remove when clusterNetworkPolicy is in place
      #   ingress.home.arpa/nginx-internal: allow
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: &secret authentik-secret
    authentik:
      log_level: info
      # redis:
      #   host: "authentik-redis.security.svc.cluster.local"
      #   password: ""
      #   db: 1

    postgresql:
      enabled: false

    prometheus:
      rules:
        enabled: true

    redis:
      enabled: true
      auth:
        enabled: true
      master:
        persistence:
          enabled: true
          size: 1Gi
        resources:
          requests:
            cpu: 15m
            memory: 50Mi
          limits:
            memory: 100Mi
      commonConfiguration: |-
        # Enable AOF https://redis.io/topics/persistence#append-only-file
        appendonly yes
        # Disable RDB persistence, AOF persistence already enabled.
        save ""
        maxmemory 94371840
        maxmemory-policy allkeys-lru

    server:
      podAnnotations:
        secret.reloader.stakater.com/reload:
      # podLabels:
      #   ingress.home.arpa/nginx-external: allow
      #   prom.home.arpa/kps: allow
      autoscaling:
        enabled: true
        minReplicas: 1
      ingress:
        enabled: true
        ingressClassName: external-nginx
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress-ext.monosense.io
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
        hosts:
          - "${HOSTNAME}"
        tls:
          - hosts:
              - "${HOSTNAME}"
      metrics:
        prometheus:
          serviceMonitor:
            enabled: true

    worker:
      autoscaling:
        enabled: true
        minReplicas: 1
    # END
    # controller:
    #   annotations:
    #     secret.reloader.stakater.com/reload: &secret authentik-secret
    # initContainers:
    #   init-db:
    #     image: ghcr.io/onedr0p/postgres-init:16.2
    #     envFrom:
    #       - secretRef:
    #           name: *secret
    # replicas: 1
    # worker:
    #   replicas: 1
    # authentik:
    #   email:
    #     use_ssl: true
    #     port: "465"
    #     from: "Monosense IDP <info@monosense.io>"
    #   log_level: debug
    #   error_reporting:
    #     enabled: false
    # ingress:
    #   enabled: true
    #   ingressClassName: external-nginx
    #   annotations:
    #     external-dns.alpha.kubernetes.io/target: ingress-ext.monosense.io
    #   hosts:
    #     - host: &host ${HOSTNAME}
    #       paths:
    #         - path: /
    #           pathType: Prefix
    #   tls: [hosts: [*host]]
    # prometheus:
    #   serviceMonitor:
    #     create: true
    #   rules:
    #     create: true
    # resources:
    #   server:
    #     requests:
    #       cpu: 50m
    #       memory: 500Mi
    #     limits:
    #       memory: 800Mi
    #   worker:
    #     requests:
    #       cpu: 50m
    #       memory: 500Mi
    #     limits:
    #       memory: 1200Mi
    # redis:
    #   enabled: true
    #   auth:
    #     enabled: true
    #   master:
    #     persistence:
    #       enabled: true
    #       size: 1Gi
    #     resources:
    #       requests:
    #         cpu: 15m
    #         memory: 50Mi
    #       limits:
    #         memory: 100Mi
    #   commonConfiguration: |-
    #     # Enable AOF https://redis.io/topics/persistence#append-only-file
    #     appendonly yes
    #     # Disable RDB persistence, AOF persistence already enabled.
    #     save ""
    #     maxmemory 94371840
    #     maxmemory-policy allkeys-lru
    #   metrics:
    #     enabled: true
    #     serviceMonitor:
    #       enabled: true
    #     resources:
    #       requests:
    #         cpu: 10m
    #         memory: 10Mi
    #       limits:
    #         memory: 20Mi
  valuesFrom:
    - kind: Secret
      name: *secret
      valuesKey: AUTHENTIK_SECRET_KEY
      targetPath: authentik.secret_key
    - kind: Secret
      name: *secret
      valuesKey: SMTP_HOST
      targetPath: authentik.email.host
    - kind: Secret
      name: *secret
      valuesKey: SMTP_USERNAME
      targetPath: authentik.email.username
    - kind: Secret
      name: *secret
      valuesKey: SMTP_PASS
      targetPath: authentik.email.password
    - kind: Secret
      name: *secret
      valuesKey: POSTGRES_HOST
      targetPath: authentik.postgresql.host
    - kind: Secret
      name: *secret
      valuesKey: POSTGRES_USER
      targetPath: authentik.postgresql.user
    - kind: Secret
      name: *secret
      valuesKey: POSTGRES_PASS
      targetPath: authentik.postgresql.password
    - kind: Secret
      name: *secret
      valuesKey: POSTGRES_DB
      targetPath: authentik.postgresql.name
    - kind: Secret
      name: *secret
      valuesKey: REDIS_PASS
      targetPath: authentik.redis.password
    - kind: Secret
      name: *secret
      valuesKey: REDIS_PASS
      targetPath: redis.auth.password
