---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/cilium.io/ciliumnetworkpolicy_v2.json
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: zigbee2mqtt
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/name: zigbee2mqtt
  egress:
    # mosquitto
    - toEndpoints:
        - matchLabels:
            app.kubernetes.io/name: emqx
      toPorts:
        - ports:
            - port: "1883"
              protocol: TCP
    - toCIDRSet:
        - cidr: 172.16.10.13/32
      toPorts:
        - ports:
            - port: "1883"
              protocol: TCP
