---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: mqtt
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: emqx
      version: 5.5.0
      sourceRef:
        kind: HelmRepository
        name: emqx
        namespace: flux-system

  maxHistory: 3

  install:
    remediation:
      retries: 3

  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3

  uninstall:
    keepHistory: false

  values:
    image:
      repository: public.ecr.aws/emqx/emqx
    pod:
      labels:
        ingress.home.arpa/lan: allow
        egress.home.arpa/kubedns: allow

    replicaCount: 1
    recreatePods: true

    emqxConfig:
      EMQX_ALLOW_ANONYMOUS: "false"
      EMQX_AUTH__MNESIA__PASSWORD_HASH: plain
      EMQX_DASHBOARD__DEFAULT_USERNAME: admin

    service:
      type: LoadBalancer
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "mqtt.monosense.io"
        io.cilium/lb-ipam-ips: "10.10.10.7"
      externalTrafficPolicy: Cluster

    ingress:
      dashboard:
        enabled: true
        ingressClassName: internal-nginx
        annotations:
        path: /
        pathType: Prefix
        hosts:
          - &host "mqtt-ui.monosense.io"
        tls:
          - hosts:
              - *host

    metrics:
      enabled: false

    securityContext:
      privileged: true
      capabilities:
        add:
          - NET_ADMIN
          - NET_RAW

    probles:
      startup:
        enabled: false
      readiness:
        enabled: false
      liveness:
        enabled: false

    persistence:
      enabled: true
      storageClassName: ceph-block
      size: 2Gi

    resources:
      requests:
        cpu: 500m
        memory: 1.0Gi
      limits:
        memory: 2.0Gi

    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["mqtt"]
              topologyKey: kubernetes.io/hostname

  valuesFrom:
    - targetPath: emqxConfig.EMQX_DASHBOARD__DEFAULT_PASSWORD
      kind: Secret
      name: mqtt-secret
      valuesKey: ADMIN_PASSWORD
    - targetPath: emqxConfig.EMQX_AUTH__USER__1__USERNAME
      kind: Secret
      name: mqtt-secret
      valuesKey: MQTT_USER
    - targetPath: emqxConfig.EMQX_AUTH__USER__1__PASSWORD
      kind: Secret
      name: mqtt-secret
      valuesKey: MQTT_PASS
