---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: thanos
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: thanos
      version: 14.0.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      registry: quay.io
      repository: thanos/thanos
      tag: v0.34.1
    objstoreConfig:
      type: s3
      config:
        insecure: false
    queryFrontend:
      enabled: true
      replicaCount: 3
      config: &config |-
        type: REDIS
        config:
          addr: >-
            redis-node-0.redis-headless.database.svc.cluster.local.:26379,
            redis-node-1.redis-headless.database.svc.cluster.local.:26379,
            redis-node-2.redis-headless.database.svc.cluster.local.:26379
          master_name: redis-master
      ingress:
        enabled: true
        hostname: &host thanos.monosense.io
        ingressClassName: internal-nginx
        tls: true
        extraTls:
          - hosts:
              - *host
        pathType: Prefix
    query:
      enabled: true
      replicaCount: 3
      replicaLabel:
        - __replica__
      dnsDiscovery:
        sidecarsService: kube-prometheus-stack-thanos-discovery
        sidecarsNamespace: monitoring
    bucketweb:
      enabled: true
      replicaCount: 3
    compactor:
      enabled: true
      extraFlags:
        - --compact.concurrency=4
        - --delete-delay=30m
      retentionResolutionRaw: 30d
      retentionResolution5m: 60d
      retentionResolution1h: 90d
      persistence:
        enabled: true
        storageClass: truenas-iscsi-ssd
        size: 20Gi
    storegateway:
      enabled: true
      replicaCount: 3
      config: *config
      persistence:
        enabled: true
        storageClass: truenas-iscsi-ssd
        size: 20Gi
    ruler:
      enabled: true
      replicaCount: 3
      replicaLabel: __replica__
      clusterName: k8s
      alertmanagers:
        - http://alertmanager-operated.monitoring.svc.cluster.local.:9093
      extraFlags:
        - --web.prefix-header=X-Forwarded-Prefix
      config: |-
        groups:
          - name: PrometheusWatcher
            rules:
              - alert: PrometheusDown
                annotations:
                  summary: A Prometheus has disappeared from Prometheus target discovery
                expr: absent(up{job="kube-prometheus-stack-prometheus"})
                for: 5m
                labels:
                  severity: critical
      dnsDiscovery:
        enabled: true
      persistence:
        enabled: true
        storageClass: truenas-iscsi-ssd
        size: 20Gi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  valuesFrom:
    - targetPath: objstoreConfig.config.bucket
      kind: Secret
      name: thanos-secret
      valuesKey: S3_BUCKET
    - targetPath: objstoreConfig.config.endpoint
      kind: Secret
      name: thanos-secret
      valuesKey: S3_HOST
    - targetPath: objstoreConfig.config.region
      kind: Secret
      name: thanos-secret
      valuesKey: S3_REGION
    - targetPath: objstoreConfig.config.access_key
      kind: Secret
      name: thanos-secret
      valuesKey: S3_ACCESS_KEY
    - targetPath: objstoreConfig.config.secret_key
      kind: Secret
      name: thanos-secret
      valuesKey: S3_SECRET_KEY
