---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name node-exporter
spec:
  staticConfigs:
    - targets:
        - p-rh8-zfs.monosense.dev:9100
        # - p-rh8-inf1.monosense.dev:9100
        # - p-rh8-inf2.monosense.dev:9100
        - p-fdi-inf-01.monosense.dev:9100
  metricsPath: /metrics
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
# ---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
# apiVersion: monitoring.coreos.com/v1alpha1
# kind: ScrapeConfig
# metadata:
#   name: &name pikvm
# spec:
#   staticConfigs:
#     - targets:
#         - pikvm.internal
#   metricsPath: /api/export/prometheus/metrics
#   relabelings:
#     - action: replace
#       targetLabel: job
#       replacement: *name
# ---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/scrapeconfig_v1alpha1.json
# apiVersion: monitoring.coreos.com/v1alpha1
# kind: ScrapeConfig
# metadata:
#   name: &name zigbee-controller
# spec:
#   staticConfigs:
#     - targets:
#         - zigbee-controller.internal
#   metricsPath: /metrics
#   relabelings:
#     - action: replace
#       targetLabel: job
#       replacement: *name
