---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Network policy
  # - ./networkpolicy.yaml
  # Flux-Kustomizations
  - ./cloudnative-pg/ks.yaml
  - ./pgadmin/ks.yaml
  - ./redis/ks.yaml
