---
# yaml-language-server: $schema=https://raw.githubusercontent.com/trosvald/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: democratic-csi-hdd-nfs
spec:
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.5
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  interval: 30m
  values:
    controller:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-nfs-hdd-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.8.4
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.8.4
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.6
    csiDriver:
      name: "org.democratic-csi.nfs-ssd"
    storageClasses:
      - name: truenas-hdd-nfs
        defaultClass: false
        reclaimPolicy: Retain
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: nfs
          detachedVolumesFromSnapshots: true
          detachedVolumesFromVolumes: true
        mountOptions:
          ["nfsvers=4.2", "nconnect=8", "hard", "noatime", "nodiratime"]
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    volumeSnapshotClasses:
      - name: truenas-hdd-nfs
        driver: org.democratic-csi.nfs-ssd
        deletionPolicy: Delete
        parameters:
          detachedSnapshots: false
    driver:
      config:
        driver: freenas-api-nfs
      existingConfigSecret: *secret
