k8s-p-tlx-k8s-m0.monosense.io.yaml
k8s-p-tlx-k8s-m1.monosense.io.yaml
k8s-p-tlx-k8s-m2.monosense.io.yaml
k8s-p-tlx-k8s-w0.monosense.io.yaml
k8s-p-tlx-k8s-w1.monosense.io.yaml
k8s-p-tlx-k8s-w2.monosense.io.yaml
talosconfig
